@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gothic+A1|Hind+Siliguri|Monoton|Rock+Salt|Work+Sans&display=swap');

.addlisting-img {
  background-image: url("https://static01.nyt.com/images/2019/02/01/nyregion/00subwaycrime4/merlin_39258064_bda75ee1-9be8-4eec-9102-b9db032c08b4-facebookJumbo.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.addlisting-form {
  display: inline-flex;
  margin: 10px auto;
  height: 6vh;
  /* border: 2px solid white; */
}

.addlisting-title {
  color: lightyellow;
  font-family: 'Rock Salt', cursive;
  margin: auto;
}

.booking-container {
  margin: auto;
  padding: 10px;
  /* display: inline-block; */
  width: 80%;
  z-index: 2;
}

.booking-card {
  border: 2px solid black;
  background-color: white;
  text-align: center;
  display: inline-block;
  width: 15%;
}

.booking-header{
  font-family: 'Rock Salt', cursive;
  color: rgb(170, 57, 161);
  font-size: 2rem;
  float: left;
}

.booking-image {
  width: 90%;
}

.footer {
  width: 100%;
  padding: 1rem;
  margin: .5rem 1rem;
  text-align: left;
  border: 1px solid lightslategrey
}

#list-card {
  text-align: center;
  display: inline-block;
  width: 25%
}

.listing {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  cursor: pointer;
  border: 2px solid pink;
  font-family: 'Gothic A1', sans-serif;
}

.listing-data {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.listing-div {
  display: flex;
}

.listing-picture {
  height: 180px;
  background-size: cover;
}

.listing-title {
  margin-top: 10px;
}

.listing-row {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.login-image {
  background-image: url("https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2017%2F08%2Fnew-york-city-street-art-guide-4.jpg?w=1600&cbr=1&q=90&fit=max");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.new-listing {
  border: 2px solid black;
  background-color: white;
  text-align: center;
  display: inline-block;
  width: 25%
}

.new-listing-card {
  background-color: lightyellow;
}

.map {
  position: sticky;
  height: 100vh;
  border: 1px solid lightblue;
  top: 0;
  flex-grow: 1;
}

.marker {
  font-family: 'Gothic A1', sans-serif;
  font-size: 1rem;
  background-color: lightseagreen;
  border: 2px solid white;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  width: 60px;
}

.navItems {
  display: flex;
}

.profile-bg {
  z-index: -1;
  background-image: url("https://wallpaperbro.com/img/180613.jpg");
  background-color: pink;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.profile-card {
  float: left;
  padding: 20px;
}

.search {
  padding: 10px;
  margin-right: 5px;
}

.search input {
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  width: 100%;
}

.search-home {
  display: inline-block;
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  width: 100%;
}

.signup-image{
  /* background-image: url("https://media.timeout.com/images/105304664/1372/772/image.jpg"); */
  background-image: url("https://culturalnovayork.files.wordpress.com/2015/07/grafiti_kobra_highline_cover.jpg?w=940&h=698")
}

.tagline {
  font-family: 'Rock Salt', cursive;
  font-size: 4rem;
}


